@import "./reset.scss";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

$micro: 0.125em;
$tiny: 0.25em;
$small: 0.5em;
$normal: 0.75em;
$large: 1em;
$jumbo: 1.5em;

body {
    width: 600px;
    overflow-x: scroll;
    font-family: 'Open Sans', sans-serif;
}

form, .results {
    padding: 1em 2em;
}

.width-100 {
    width: 100%;
}

form button:hover, .fa:hover {
    cursor: pointer;
    transform: scale(1.01);
    transform-origin: center;
}

form {
    flex-direction: column;        

    button {
        text-transform: uppercase;
        font-weight: 400;
        align-self: flex-end;
        width: fit-content;
        margin: $small 0;
        margin: 0;
        margin-top: $normal;
        background: #214a80;
        color: white;
        outline: none;
        border: none;
        padding: $small 0;
        margin-top: $jumbo;
        width: 100%;
        border-radius: 3px;
    }

    button, label, input {
        display: block;
    }

    label {
        margin-bottom: 0.5em;
    }

    input {
        margin-top: $normal;
        border-radius: 5px;
        outline: none;
        border: 1px solid gray;
        padding: $tiny $normal;
    }
}

.horizontal-border {
    margin: m 0;
    border-bottom: 1px solid gray;
}

label, header {
    font-weight: 600;
}

.empty {
    text-align: center;
    padding: $normal 0;
}

.results {
    header {
        margin-bottom: $normal;
        u {
            font-style: italic;
        } 
    }
    .magnet-entry {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        padding: $small 0;
        border-top: 1px solid lightgray;
    }
    .title, .magnet-link {
        padding: $micro $small;
        text-align: left;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .title:first-child, .magnet-link:first-child {
        padding-left: 0;
    }
    .title {
        width: 80%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .fa.fa-magnet {
        color: #b82e4e;
        position: relative;
        &:after {
            position:absolute;
            left: -5px;
            bottom: 0;
            content: "\f067";
            color: #d4a600;
            font-size: 12px;
        }
    }
    .fa.fa-check {
        color: #2e9455;
    }
    .fa.fa-exclamation-triangle {
        color: #e08122;
    }
    .fa.fa-spinner {
        color: #214a80;
    }
}
