@import "./base.scss";

#options {
    width: 100%;
    padding: $normal;
    .api-key-saved {
        span {
            cursor: pointer;
            color: red;
            &:hover {
                font-weight: 900;
            }
        }
    }

}
